{
  "presets": ["next/babel"],
    "plugins": [
      ["module-resolver", {
        "alias": {
            "@common": "./src/common",
            "@layouts": "./src/layouts",
            "@pages": "./src/pages",
            "@schemas": "./src/schemas",
            "@styles": "./src/styles",
            "@types": "./src/types",
            "@utils": "./src/utils",
            "@routes": "./src/routes",
            "@icons": "./src/icons",
            "@hooks": "./src/hooks"
        }
      }]
    ]
  }