@font-face {
    font-family: Karla;
    src: url('/font/Karla-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Karla;
    src: url('/font/Karla-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Karla;
    src: url('/font/Karla-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Karla;
    src: url('/font/Karla-Semibold.ttf');
    font-weight: 600;
}