$color-dark-1: #000000;
$color-bright-1: #ffffff;
$color-blue-1: #2196f3;
$color-gray-1: #8E8E93;
$color-bright-2: #f2f9fe;
$color-bright-3: #fafafa;

$size-sm-1: 8px;
$size-sm-2: 10px;
$size-sm-3: 12px;
$size-sm-4: 14px;
$size-rg-1: 16px;
$size-rg-2: 18px;
$size-rg-3: 20px;
$size-rg-4: 22px;
$size-lg-1: 24px;
$size-lg-2: 26px;
$size-lg-3: 28px;
$size-lg-4: 30px;
$size-hg-1: 32px;
$size-hg-2: 34px;
$size-hg-3: 36px;
$size-hg-4: 38px;
$size-b-1: 40px;
$size-b-2: 42px;
$size-b-3: 44px;
$size-b-4: 46px;
$size-ub-1: 48px;
$size-ub-2: 50px;
$size-ub-3: 52px;
$size-ub-4: 54px;

$button-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
  0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
$layout-box-shadow: 2px 0px 8px 2px rgba(0, 0, 0, 0.1);
$card-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);