@import "../../styles/library";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $layout-box-shadow;

  &__text {
    font-family: Karla;
    font-weight: 700;
    font-size: $size-rg-2;
    text-align: center;
    width: auto;
  }
}
